.comment__form {
  padding-top: 20px;
  border-bottom: 1px solid var(--shindig-background);
  flex: 0.8;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.commentForm__input {
  border: none;
  cursor: pointer;
  font-size: 18px;
  outline-color: var(--shindig-color);
  margin-bottom: 15px;
}

.commentForm__submit {
  cursor: pointer;
  background-color: var(--shindig-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 150px !important;
  height: 35px !important;
  margin-left: auto !important;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75) !important;
  justify-content: right !important;
  font-size: 20px !important;
}