.postForm__component {
  padding-top: 20px;
  border-bottom: 1px solid var(--shindig-background);
  display: flex;
  align-items: center;
}

.postForm__component > input {
  border: none;
  cursor: pointer;
  font-size: 18px;
  outline-color: var(--shindig-color);
  margin-bottom: 15px;
  
}

.postForm__submit {
  cursor: pointer;
  background-color: var(--shindig-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 150px !important;
  height: 35px !important;
  margin-left: auto !important;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
  justify-content: right;
  margin-bottom: 15px;
  font-size: 20px !important;
}

.postForm__input {
  display: flex;
  width: auto;
  flex: 1;
  color: gray;
}

.postForm__input > input {
  flex: 1;
  width: 100%;
}

