.thisone {
  background-color: var(--shindig-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 150px !important;
  height: 50px !important;
  margin-top: -50px !important;
  margin-left: auto !important;
}